/* Write your CSS here! */
img {
    border-radius: 50%;
    image-rendering: crisp-edges;
}

body {
    background-color: gray;
    margin: 8px;
    display: block;
    padding-inline-start: 3px;

}

p {
    font-family: fantasy;
    font-style: italic;

}

#mainHeading {
    color: red;
}

.funParagraph{
    color: green;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    margin: auto;
    
}